<!DOCTYPE html>
<html>
<head>
    <%- include ("partials/header.ejs")%>
</head>
<body>
<!--     <h1>hello</h1> -->
    <main>
        <header class="p-5 bg-danger text-center">
          <h1><%=data.results.name%></h1>
          <form action="/newCharacter" method="POST">
          <%- include ("partials/menu.ejs")%>
        </header>
        
        <div id="character1">
            <img class="resultImage" src = "<%=data.results.image.original_url%>" width="400">
            <p id="charDesc1"><%=data.results.deck%></p>
            <p><%=data.results.birthday%></p>
            <p><%=data.results.first_appeared_in_game.name%></p>
            
            <%-data.results.description%>
        </div>
            
            
        </div>
        <button type="submit" class="m-3 btn btn-dark">Add New Character</button>
        </form>
        
    </main>
</body>
</html>