<!DOCTYPE html>
<html>
<head>
    <%- include ("partials/header.ejs")%>
</head>
<body>
<!--     <h1>hello</h1> -->
    <main>
        <header class="p-5 bg-danger text-center">
          <h1><%=data.results.name%></h1>
          <form action="/newCompany" method="POST">
          <%- include ("partials/menu.ejs")%>
        </header>
        
        <div id="company">
            <img class="resultImage" src = "<%=data.results.image.small_url%>" width="400">
            <p id="compDesc1"><%=data.results.deck%></p>
            <%-data.results.description%>
        </div>
            
            
        </div>
        <button type="submit" class="m-3 btn btn-dark">Add New Company</button>
        </form>
        
    </main>
</body>
</html>