<!DOCTYPE html>
<html>
<head>
   <%- include ("partials/header.ejs")%>
</head>
<body>
<!--     <h1>hello</h1> -->
    <main>
        <header class="p-5 bg-danger text-center">
          <h1><%=data.results.name%></h1>
          <%- include ("partials/menu.ejs")%>
        </header>
        
        <div id="game">
          <img class="resultImage" src = "<%=data.results.image.small_url%>" width="400">
          Original Game Ratings:
          <% for(let i = 0; i < num;i++) {%>
              
            <%=data.results.original_game_rating[i].name%>,
                
          <%}%>
          <%-data.results.description%>
        </div>        
    </main>
</body>
</html>