<!DOCTYPE html>
<html>
<head>
    <%- include ("partials/header.ejs")%>
</head>
<body>
    <main>
        <header class="p-5 bg-danger text-center">
          <h1>Game Results</h1>
          <%- include ("partials/menu.ejs")%>
        </header>
        <form action = "/game" method ="GET">
        
        <div id="games">
            
            
                <% for(let i = 0; i <gameNum;i++) {%>
                    
                    <div class="groupResults">

                        <label class="radio-inline"><input type = "radio" name="game" value=<%=gameId[i]%>> <%=nameList[i]%> <img src = "<%=imageNameList[i]%>" width="100"></label>
                      
                        
                        
                   
                    </div>
                    
                <%}%>
                   
                
                  
                
            
        </div>
        <button type="submit" class="m-3 btn btn-dark">Submit</button>
        </form>
            
            
        </div>
        
    </main>
</body>
</html>